/* Remove the navbar's default margin-bottom and rounded borders */ 
html,body{
    height: 100%;
    font-size: 20px;
    background-color: #F8F6E0;
  }
  
  .main{
    padding-bottom: 20px;
    height: 100%;
  }
  
  #bot{
    height: 100px;
    position: relative;
    margin-top: -100px;
    margin-bottom: 0;
  }
  
  .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
  .row.content {height: 450px}
  
  /* Set gray background color and 100% height */
  .sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
  }
  
  /* Set black background color, white text and some padding */
  footer {
    background-color: #555;
    color: white;
    padding: 15px;
  }
  
  /* On small screens, set height to 'auto' for sidenav and grid */
  @media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .row.content {height:auto;} 

    .ad_hide{
      display: none;
    }
  }

  .index{
    visibility: hidden;
  }

  #custom-alert {
    top: 10px;
  }

  .footer{
    text-align: center;
    padding: 20px;
    background-color: black;
    color: white;
  }

  .post{
    width:100%;
  }
  #time{
    direction: rtl; 
    text-align: right;
  }

  #showList{
    width: 100%;
    height:350px;
    overflow-x:hidden;
    overflow-y:auto; 
    background-color:white;
    margin-bottom: 20px;
  }

  #comment{
      width: 100%;
      height: 50px;
  }

  #cmt_input{
      margin-bottom: 20px;
  }

  #cmtList{
      -webkit-padding-start: 0px;
  }

  #custom-alert {
    top: 10px;
    margin: 0px 0px;
  }

  .alt {
      position: relative;
      border: 1px solid transparent;
      border-radius: .25rem;
      padding: 5px 5px 5px 5px;
  }

  .diss {
      -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
      -webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
      animation-name: example;
      animation-duration: 5s;
  }
  
  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes example {
      0%   {background-color: lightgreen;}
      25%  {background-color: yellow;}
      50%  {background-color: lightgreen;}
      100% {background-color: yellow;}
  }
  
  /* Standard syntax */
  @keyframes example {
      0%   {background-color: lightgreen;}
      25%  {background-color: yellow;}
      50%  {background-color: lightgreen;}
      100% {background-color: yellow;}
  }

  #img{
    width: 100%;
  }

  .well{
    padding: 5px 5px !important;
    margin-top: 10px;
  }

  .head{
    font-family:Microsoft JhengHei;
  }
  
  #icon{
    width: 30px;
    height: 30px;
    border-radius: 25px;
    display: inline;
  }