/* Remove the navbar's default margin-bottom and rounded borders */ 
html,body{
  height: 100%;
  width: 100%;
  font-size: 20px;
  background-color: #F8F6E0;
}

h1{
  font-family:Microsoft JhengHei;
}

.main{
  padding-bottom: 20px;
  height: 100%;
}

#bot{
  height: 100px;
  position: relative;
  margin-top: 100px;
  margin-bottom: 0;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
  }
  
  /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
  .row.content {height: 450px}
  
  /* Set gray background color and 100% height */
  .sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
  }
  
  /* Set black background color, white text and some padding */
  .footer {
    background-color: #555;
    color: white;
    padding: 15px;
  }
  
  /* On small screens, set height to 'auto' for sidenav and grid */
  @media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .row.content {height:auto;} 

    .ad_hide{
      display: none;
    }
  }

  .index{
    visibility: hidden;
  }

  #custom-alert {
    top: 10px;
    margin: 0px 0px;
  }

  .footer{
    text-align: center;
    padding: 20px;
    background-color: black;
    color: white;
  }

  .post{
    background:#f2fddb;
    border:1px solid gray;
    padding: 10px 10px 10px 10px;
    margin:0px;
  }
  #time{
    direction: rtl; 
    text-align: right;
  }

  #showList{
    height:600px;
    overflow-x:hidden;
    overflow-y:auto; 
    background-color:white;
    margin-bottom: 50px;
  }
  

  #artList{
    -webkit-padding-start: 0px;
  }
  
  #img{
    width: 100%;
    height: 80%;
  }

  .well{
    padding: 5px 5px !important;
    margin-top: 10px;
  }

  .panel{
    margin-top: 20px;
  }

  #USPhoto{
    width: 45%;
    border-radius: 25px
  }

  #updateName{
    width: 50%;
  }

  #icon{
    width: 30px;
    height: 30px;
    border-radius: 25px;
    display: inline;
  }


  .file {
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.file:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}