html, body{
    height: 100%;
}

.title{
    color: white;
}

#login{
    margin: auto auto;
    text-align: center;
    vertical-align: middle;
    padding-top: 5%;
}

body{
    background-image: url("../img/DSC_0189.jpg");
    background-repeat:  no-repeat;
    background-size: cover;
}


/* Bordered form */
form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
.button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
}

/* Add a hover effect for buttons */
.button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cr {
    padding: 10px 2px;
    margin-top: 50px;
}

span{
    margin-top: 50px;
}


/* Add padding to containers */
.container {
    padding: 16px;
    padding-left: 20%;
}

.extra{
    text-align: center;
}

.word{
    color:white;
    font-size: 20px;
}

.word:hover{
    color: black;
}

#custom-alert {
    top: 10px;
    width:100%;
  }

.diss {
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 5s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%   {background-color: lightgreen;}
    25%  {background-color: yellow;}
    50%  {background-color: lightgreen;}
    100% {background-color: yellow;}
}

/* Standard syntax */
@keyframes example {
    0%   {background-color: lightgreen;}
    25%  {background-color: yellow;}
    50%  {background-color: lightgreen;}
    100% {background-color: yellow;}
}