html,body{
    height: 100%;
}

#try{
    text-align: center;
    margin: 10% auto;
}

.sign{
    text-align: center;
    margin: 0 auto;
    margin-top: 5%;
}


.col{
    padding-top: 10px;
    width: 30%;
    border-style: solid;
    margin: 15px auto;
}

body{
    background-image: url("../img/DSC_0460.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h2{
    color: black;
}


#custom-alert {
    top: 10px;
    position: fixed;
  }

  .cr {
    padding: 10px 2px;
    margin-top: 50px;
}

span{
    margin-top: 50px;
}


/* Add padding to containers */
.container {
    padding: 16px;
    padding-left: 20%;
}

.extra{
    text-align: center;
}

.word{
    color:white;
    font-size: 20px;
}

.word:hover{
    color: black;
}

#custom-alert {
    top: 10px;
    width: 100%;
  }


.diss {
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 5s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%   {background-color: lightgreen;}
    25%  {background-color: yellow;}
    50%  {background-color: lightgreen;}
    100% {background-color: yellow;}
}

/* Standard syntax */
@keyframes example {
    0%   {background-color: lightgreen;}
    25%  {background-color: yellow;}
    50%  {background-color: lightgreen;}
    100% {background-color: yellow;}
}

#btnForgetEmail{
    background-color: red;
}